SLACK_SIGNING_SECRET="NA"
SLACK_BOT_TOKEN="NA"
SLACK_CLIENT_ID="NA"
SLACK_CLIENT_SECRET="NA"
PORT=8080
DB_URL=postgresql://postgres.pooler-dev:postgres@localhost:54329/postgres?sslmode=disable
DB_SCHEMA=claudecontrol_test
CLERK_SECRET_KEY=<secret>
CORS_ALLOWED_ORIGINS=*
